/* 
color palette for reference: https://colorhunt.co/palette/070f2b1b1a55535c919290c3
#070F2B
#1B1A55
#535C91
#9290C3
*/

body {
    background-color: #070F2B;
    overflow-y: auto;
}

button {
    background-color: #535C91;
    color: #1B1A55;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

/* Page start */

.titlebox {
    margin: 5%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #9290C3;
}

.text {
    font-size: 500%;
}

.subtext {
    font-size: 300%;
}

#startButton {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
}

.button-container {
    margin: 10%;
    display: flex;
    justify-content: center;
}

.langbutton {
    display: inline-block;
    margin: 1%;
    top: 1210%;
    width: 300px;
    height: 100px;
}

/* Main site */

.banner {
    position: fixed;
    background-color: #1B1A55;
    top: 0px;
    left: 0px;
    width: 98%;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    z-index: 2;
}

.stat {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    padding: 20px;
    color: #9290C3;
}

.line {
    position: absolute;
    background-color: #535C91;
    transform: translate(-50%);
    top: 500px;
    left: 50%;
    width: 20px;
    height: 7000px;
}

.node {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
    background-color: #535C91;
    border-radius: 50%;

}

.node-button {
    position: absolute;
    top: 490px;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    background-color: #9290C3;
    border-radius: 50%;
    z-index: 1;
}

.lesson-info {
    visibility: hidden;
    position: absolute;
    top: 400px;
    left: 55%;
    width: 300px;
    height: 200px;
    background-color: #535C91;
}